#sikartWrap{
    width: 932px;
    margin: 0 auto; !important;
    font-family: BlinkMacSystemFont, Verdana, Arial, sans-serif; !important;
    border-color: #e31781;
    color: #e31781;
}
#sikartHead{
    width: 932px;
    margin: 0;
}

#sikartContent{
    width: 902px;
    margin: 0 0 0 18px;
}

#sikartFooter{
    width: 932px;
    margin: 0 0 0 -10px;
}
#mapSearchHead{
    margin: 0 0 0 15px;
}
#sikartContent form{

}
#sikartContent #mapSearchHead{}

#sikartContent .formStyle{
    box-sizing: border-box;
    position: relative;
    font-size: small;
    margin: 0 8px 20px 13px;
    /*padding: 2em 0 2em 0;*/
    padding:0 0 1.2em 0;
    border-bottom: dotted;
    border-top: dotted;
    border-width: 0.1em;
}
#sikartContent label{
    width: 14em;
    display: block;
    float: left;
    text-align: right;
    margin-right: 1em;
    font-size: 1.4em;
    font-weight: 200;
}
#sikartContent button{
    position: absolute;
    display: block;
    right: 15px;
    bottom: 20px;
    width: 200px;
    height: 25px;
    background-color: #e31781;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 1.3em;
}


#sikartContent button.newSearch{
    position: absolute;
    display: block;
    top: 25px;
    right: 15px;
}


#sikartContent button:hover, #sikartContent button.newSearch:hover{
    background-color: #E3419D;
    cursor: hand;
}

#sikartContent input{
    width: 350px;
    height: 25px;
    border-color: #e31781;
    border-style: dashed;
    border-width: 1px;
    font-size: 1.3em;
    font-weight: 200;
    color: #e31781;
}

h1,h2,h3,h4 {
}
h1 {
    font-size: x-large;
}
h2 {
    font-size: medium;
    font-style: italic;
    margin: -15px 0 0 0;
}

p.content {
font-size: 12px;
width: 30em;
}

div#help {
font-size: 12px;
width: 45em;
padding: 1em;
}

div#timemap {
padding: 0.3em 0.3em 0 0.3em;
}

div#timelinecontainer{
width: 100%;
height: 150px;
}

div#timeline{
 width: 100%;
 height: 100%;
 font-size: 12px;
 background: #CCCCCC;
}

div#mapcontainer {
 width: 100%;
 height: 400px;
}

div#map {
 width: 100%;
 height: 100%;
 background: #EEEEEE;
}

div.infotitle {
    font-size: 14px;
    font-weight: bold;
}
div.infodescription {
    font-size: 14px;
    font-style: italic;
}

div.custominfostyle {
    font-family: Georgia, Garamond, serif;
    font-size: 1.5em;
    font-style: italic;
    width: 20em;
}
